.banner{
  height: 100vh;
  display: grid;
  position: relative;  
  border-top: 1px solid #eee;
}
.banner::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/header.jpg);
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}
.carousel__img{
  max-height: 780px;
}
.footer__container, .copy__subtitle{
  border-top: 1px solid #eee;
}
.footer__list .nav-link{
  color: black;
}
.header__img{
  height: 100vh;
}
.footer__container, .copy__subtitle{
  border-top: 1px solid #eee;
}
.footer__list .nav-link{
  color: black;
}